<%- include('../header') %>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">번호</label>
      <input disabled value="<%=img.ID%>" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">제목</label>
      <input disabled value="<%=img.TITLE%>" type="text" class="form-control"  placeholder="암호">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <textarea disabled type="text" class="form-control" ><%=img.CONTENT%></textarea>
    <!-- for(let i = 0;i<filename.length;i++){%>
      <img src="../../../assets/uploads/filename[i].FILE_NAME" alt="" style="width: 500px; height: 500px;">
    } -->
    <%let filenameArray = img.FILE_NAME.split(",");%>
    <%console.log(filenameArray);%>
    
    <%for(let i = 0;i<filenameArray.length;i++){%>
      <img src="../../../assets/uploads/<%=filenameArray[i]%>" alt="" style="width: 250px; height: 250px;">  
    <%}%>
    
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">등록일</label>
    <input disabled value="<%=img.DATE%>" type="text" class="form-control"  placeholder="암호">
    </div>

    <button onclick="window.history.back(-1);" class="btn btn-default" type="submit">뒤로가기</button>
</form>
  

<%- include('../footer') %>
